.DS_Store
build
templates
node_modules
.env
*/.terraform
*.hcl
*.log
*/terraform.tfvars
*/*.tfstate
*/tmp
downloaded_package_*
# waterapi
waterapi/test/thalliumeli-api-v1/test-images/tmp
redoc.hbs
swagger.yaml
.env*
!.env.*.example