.DS_Store
build
templates
node_modules
cloudformation/aircdn.template.yaml
cloudformation/earthbucket.template.yaml
cloudformation/environment.template.yaml
cloudformation/firerecord.template.yaml
cloudformation/global.template.yaml
cloudformation/waterapi.template.yaml
cloudformation/waterapi-apikeys.template.yaml
.env
*/.terraform
*.hcl
*.log
*/*.tfvars
*/*.tfstate
*/tmp