on: [push, pull_request]
name: Deploy Terraform
defaults:
  run:
    working-directory: ./terraform
jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    steps:
    - uses: actions/checkout@v2
    - uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      id: init
      run: terraform init

    - name: Terraform Validate
      id: validate
      run: terraform validate

    - name: Terraform Plan
      id: plan
      run: terraform plan -var "gatsby_webhook_id=${{ secrets.GATSBY_WEBHOOK_ID }}" -var-file=dev.tfvars

    - name: Terraform Apply
      id: apply
      run: terraform apply -auto-approve -var "gatsby_webhook_id=${{ secrets.GATSBY_WEBHOOK_ID }} -var-file=dev.tfvars"
